<a href="https://colab.research.google.com/github/iaasmiin/Python_Intro/blob/main/Exerc%C3%ADcios_Aula_4_Completos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercício 1** Escreva uma função com um valor de retorno que:

*   tome como input dois argumentos;
*   execute a soma dos dois parâmetros que foram passados como argumento e atribua o resultado a uma variável;
*   tenha como valor de retorno o dobro da soma dos dois parâmetros.

In [1]:
def exercicio(x,y):
  z=x+y
  retorno=z*2
  print('O  dobro da soma dos números digitados é:',retorno)

In [2]:
exercicio(2,3)

O  dobro da soma dos números digitados é: 10

**Exerício 2** 

a. Digite este exemplo em um script e teste-o.

b. Modifique do_twice para que sejam necessários dois argumentos, um objeto de função f e um valor x, e chame a função duas vezes, passando o valor como um argumento.

c. Escreva uma versão mais geral de print_spam, chamada print_twice, que use uma string como parâmetro e imprima duas vezes.

d. Use a versão modificada (no item b) de do_twice para chamar print_twice duas vezes, passando 'spam' como um argumento.

e. Defina uma nova função chamada do_four que recebe um objeto de função e um valor e chama a função quatro vezes, passando o valor como um parâmetro. Deve haver apenas duas declarações no corpo desta função, e não quatro.

**Letra a**

In [10]:
def do_twice (f): 
    f () 
    f ()

def print_spam (): 
    print('spam') 

do_twice (print_spam)

spam
spam

**Letra b**

In [23]:
def do_twice(f,x):
  f ()
  x ()

def name():
  print('Meu nome é Iasmin')

def age():
  print('Eu tenho 29 anos')

do_twice(name,age)

Meu nome é Iasmin
Eu tenho 29 anos

**Letra c**

In [47]:
def print_twice (x): 
  nome=x
  print(nome)
  print(nome)

print_twice('iasmin')

iasmin
iasmin

**Letra d**

In [52]:
def do_twice(f,x):
  f ()
  x ()

def mensagem1():
  print('spam')
  
def mensagem2():  
  print('spam')

do_twice(mensagem1,mensagem2)

spam
spam

**Letra e**: Defina uma nova função chamada do_four que recebe um objeto de função e um valor e chama a função quatro vezes, passando o valor como um parâmetro. Deve haver apenas duas declarações no corpo desta função, e não quatro.

In [56]:
def do_four (f): 
    f () 
    f ()
    f ()
    f ()

def meunome (): 
    print('Meu nome não é Jonny') 

do_four (meunome)

Meu nome não é Jonny
Meu nome não é Jonny
Meu nome não é Jonny
Meu nome não é Jonny